body{
    min-width: 970px;
    font-family: arial;
    font-size:13;
    margin:0;
    padding:0;
}

.header{
    height:30px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.header ul{
    padding-top:13px;
    list-style-type: none;
    text-align:right;
    margin-right: 20px;;
}

li{
    padding: .4em;
    list-style-type: none;
    display:inline;
}

.header a{
    text-decoration: none;
    color:black;
}

#signIn a{
    padding:8px 14px 8px 14px;
    background:#468ae6;
    color:white;
    border-radius:3px;
}

.logo{
    margin-top:155px;
    margin-bottom:24px;
}

.logo img{
    height: 95px;
    width: 269px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

form{
    text-align: center;
}

input{
    border:1px solid #cecece;
}

input:hover{
    border:1px solid #9a9a9a;
}

.searchButton{
    padding: 7;
    margin-right:15px;
    background:#f0f0f0;
    font-size:11;
    font-weight:bold;
}

.searchLucky{
    padding: 7;
    background:#f0f0f0;
    font-size:11;
    font-weight:bold;
}

.searchBar{
    width:486px;
    height:30px;
    margin-bottom:15px;
}

.footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
	background:#dedede;
}

.leftFooter{
    float:left;
}

.rightFooter{
    float:right;
}

.footer li{

}

