body{
    min-width: 980px;
    font-family: arial;
    font-size:13;
    margin:0;
    padding:0;
}

.wrapper{
    min-height:100%;
}

.header{
    margin-top:1px;
}

.header ul{
    padding-top:13px;
    list-style-type: none;
    text-align:right;
    margin-right: 20px;;
}

li{
    padding: .4em;
    list-style-type: none;
    display:inline;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    text-decoration: underline;
}

#signIn a{
    padding:8px 14px 8px 14px;
    background:#468ae6;
    color:white;
    border-radius:3px;
}

.logo{
    margin-top:155px;
    margin-bottom:24px;
}

.logo img{
    height: 95px;
    width: 269px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

form{
    text-align: center;
}

input{
    border:1px solid #cecece;
}

input:hover{
    border:1px solid #9a9a9a;
}

.searchButton{
    padding: 7;
    margin-right:15px;
    background:#f2f2f2;
    font-size:11;
    font-weight:bold;
}

.searchLucky{
    padding: 7;
    background:#f2f2f2;
    font-size:11;
    font-weight:bold;
}

.searchBar{
    width:486px;
    height:30px;
    margin-bottom:15px;
}

.footer {
    display:block;
    margin:0;
    padding:0;
    width:100%;
    height:40px;
    position:absolute;
    bottom:0;
    left:0;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.leftFooter{
    float:left;
    margin-right:10px;
}

.rightFooter{
    float:right;
    padding-right:20px;
}